<p style="color: green"><%= notice %></p>

<%= render @tweet %>

<div>
  <%= link_to "Editar este tweet", edit_tweet_path(@tweet), class:"btn btn-secondary" %> 
  <%= link_to "Volver a tweets", tweets_path, class:"btn btn-secondary" %> <br> <br>

  <%= button_to "Destruir este tweet", @tweet, method: :delete, class:"btn btn-secondary" %>
</div>
