<!DOCTYPE html>
<html>
  <head>
    <title>TwitterCl</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <%= yield %>

      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <%= link_to '#', class: 'page-link', 'aria-label': 'Previous' do %>
              <span aria-hidden="true">&laquo;</span>
            <% end %>
          </li>
          <li class="page-item"><%= link_to '1', '#', class: 'page-link' %></li>
          <li class="page-item"><%= link_to '2', '#', class: 'page-link' %></li>
          <li class="page-item"><%= link_to '3', '#', class: 'page-link' %></li>
          <li class="page-item">
            <%= link_to '#', class: 'page-link', 'aria-label': 'Next' do %>
              <span aria-hidden="true">&raquo;</span>
            <% end %>
          </li>
        </ul>
      </nav>

    </div>
  </body>
</html>
